# Ignore all Python cache folders
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore local config or sensitive files (if any)
*.env
*.local

# Ignore temporary files
*.log
.DS_Store

# Ignore storage json if they are generated dynamically
Server/Storage_json/*.json
Server/GameStore/*
Developer/game_local/
!Developer/game_local/template/

Player/download/*
