# Ignore all Python cache folders
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore local config or sensitive files (if any)
*.env
*.local

# Ignore temporary files
*.log
.DS_Store

# # Ignore storage json if they are generated dynamically
# Server/Storage_json/*.json
# Server/GameStore/*
# # 忽略整個 game_local
# Developer/game_local/*

# # 先放行資料夾本身（關鍵）
# !Developer/game_local/
# !Developer/game_local/template_CUI/
# !Developer/game_local/template_GUI/
# !Developer/game_local/template_CUI_3/

# # 再放行 template 裡的所有檔案
# !Developer/game_local/template/**

# Player/download/*
